fastapi>=0.115.12
fastapi-socketio>=0.0.10
uvicorn[standard]>=0.34.3
python-dotenv>=1.1.0
pydantic>=2.11.5
pydantic-settings>=2.9.1
sentry-sdk>=2.29.1
structlog>=25.4.0
requests>=2.32.3
pillow>=11.2.1
qrcode>=8.2
matplotlib>=3.10.3
websocket-client>=1.8.0
jinja2>=3.1.6
python-multipart
redis>=4.6.0
phonenumbers>=8.13.0